html, body {
    min-height: 100%;
    position: relative;
}

.page-wrapper {
    padding-bottom: 100px;
}

.footer {
    height: 100px;
    position: absolute;
    bottom: 0;
}

.search-block-header {
    padding: 3px 5px;
    margin-bottom: 5px;
}

.well .nav > li {
    float: left;
}

#items [class*="span"]:nth-child(4n+1) {
    margin-left: 0;
}

#items .thumbnail {
    margin-bottom: 20px;
}

#search-size-checkbox .checkbox:nth-child(6n+1) {
    margin-left: 0;
}

.checkbox-block {
    padding: 0 10px;
}

.check-item {
    width: 120px;
    float: left;
}

.product-photo {
    float: left;
    margin-right: 20px;
    height: auto;
    width: 250px;
}

.product-description {
    position: relative;
    margin-bottom: 20px;
}

.product-description .dl-horizontal dt {
    width: 140px;
}

.product-description .dl-horizontal dd {
    margin-left: 150px;
}

#product-addcart {
    position: relative;
}

#product-addcart .dl-horizontal dt {
    width: 80px;
}

#product-addcart .dl-horizontal dd {
    margin-left: 90px;
}

#product-addcart select, #product-addcart input {
    height: 20px;
    line-height: 25px;
    font-size: 12px;
}

#add-cart-btn {
    position: absolute;
    bottom: 30px;
}

.product-price {
    position: absolute;
    top: 10px;
    right: 10px;
}

.bootstrap-tagsinput {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: inline-block;
    line-height: 22px;
    margin-bottom: 10px;
    max-width: 100%;
    padding: 4px 6px;
    vertical-align: middle;
}

.bootstrap-tagsinput input {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    margin: 0;
    max-width: inherit;
    outline: medium none;
    padding: 0;
    width: auto !important;
}

.bootstrap-tagsinput input:focus {
    border: medium none;
    box-shadow: none;
}

.bootstrap-tagsinput .tag {
    color: #FFFFFF;
    margin-right: 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    cursor: pointer;
    margin-left: 8px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.modal-admin{
    width: 960px;
    margin-left: -480px;
}
.modal-admin .form-horizontal .control-label {
    width: 80px;
}

.modal-admin .form-horizontal .controls {
    margin-left: 100px;
}

.modal-admin .form-horizontal .control-group{
    margin-bottom: 10px;
}

/*Стили области добавления файлов*/
#dropzone {
    background: #ccc;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}